<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>新增网点信息</h1>
<ul style="list-style: none" >
    <li>网点名称:<input type="text" name="name" th:value="${branches.name}" /></li>
    <li>营业执照号:<input type="text" name="businessNo" th:value="${branches.businessNo}" /></li>
    <li>所在城区:<input type="text" name="cityArea" th:value="${branches.cityArea}" /></li>
    <li>网点地址:<input type="text" name="address" th:value="${branches.address}" /></li>
    <li>联系电话:<input type="text" name="telephone" th:value="${branches.telephone}" /></li>
    <li>网点介绍:<textarea name="summary" th:value="${branches.summary}" th:text="${branches.summary}"  ></textarea> </li>
    <li><input type="submit" name="submit" /></li>
</ul>
</body>
</html>